.leftSection {
    width: 100%
}

.allProducts {
    display: flex;
}

.productCards {
    column-count: 4;
}

.singleCard {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display: inline-block; 
}