.cardTitle{
    color:black;
}
.listGroupItem{
    color: rgb(7, 7, 7);
    font-size: 12px;
    padding: 10px;
    border: 1px solid black;
    font-size: 16px;
}
.productImage {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.sellerPriceSection {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
}

.cardBody {
    padding: 5%;
}