.cardTitle{
    color:black;
}
.listGroupItem{
    color: rgb(7, 7, 7);
    font-size: 12px;
}
.productImage {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sellerPriceSection {
    display: flex;
    justify-content: space-evenly;
}

.cardBody {
    padding: 5%;
}